image: dart:stable

stages:
  - test

variables:
  PUB_CACHE: "/root/.pub-cache"

cache:
  key: "pub-cache"
  paths:
    - .dart_tool/
    - pubspec.lock
    - $PUB_CACHE

gherkin_e2e:
  stage: test
  script:
    - dart --version
    - git submodule update --init --recursive
    - cd openfeature-provider-intellitoggle
    - dart pub get
    - dart test -r expanded --file-reporter=junit:test-results.xml test/gherkin/gherkin_suite_test.dart
  artifacts:
    when: always
    reports:
      junit: openfeature-provider-intellitoggle/test-results.xml
    paths:
      - openfeature-provider-intellitoggle/test/gherkin/_tmp/
