image: dart:stable

stages:
  - test

variables:
  PUB_CACHE: "/root/.pub-cache"

cache:
  key: "pub-cache"
  paths:
    - .dart_tool/
    - pubspec.lock
    - $PUB_CACHE

gherkin_e2e:
  stage: test
  script:
    - dart --version
    - git submodule update --init --recursive
    - dart pub get
    - dart test -r expanded --concurrency=1 --file-reporter=json:test-results.json test/gherkin/gherkin_suite_test.dart
    - dart pub global activate junitreport
    - dart pub global run junitreport:tojunit --input test-results.json --output test-results.xml
  artifacts:
    when: always
    reports:
      junit: test-results.xml
    paths:
      - test-results.xml
      - test/gherkin/_tmp/
